<!-- Top Navigation -->
<header class="flex justify-end items-center p-4 space-x-4 w-full">
  <a class="hover:underline cursor-pointer text-sm font-url-breadcrumb text-url-breadcrumb text-on-surface-variant" routerLink="/sde">Projects</a>
  <a class="hover:underline cursor-pointer text-sm font-url-breadcrumb text-url-breadcrumb text-on-surface-variant" routerLink="/skills">Skills</a>
  <a class="hover:underline cursor-pointer text-sm font-url-breadcrumb text-url-breadcrumb text-on-surface-variant" routerLink="/education">Education</a>
  <a class="hover:underline cursor-pointer text-sm font-url-breadcrumb text-url-breadcrumb text-on-surface-variant" routerLink="/contact">Contact</a>
  <div class="flex items-center space-x-4 pl-4">
    <button class="p-2 hover:bg-surface-container-high rounded-full transition-colors cursor-pointer" routerLink="/">
      <span class="material-symbols-outlined text-outline">apps</span>
    </button>
    <button class="w-8 h-8 rounded-full bg-primary-container text-on-primary text-center leading-8 font-bold cursor-pointer" routerLink="/">
      S
    </button>
  </div>
</header>
