<app-feature-layout 
  [metrics]="c().experience.metrics"
  [knowledgePanelConfig]="knowledgePanelConfig"
  [relatedSearches]="c().experience.related">

  <!-- Experience Items -->
  @for (item of c().experience.items; track item.company) {
    <app-search-result-item 
      icon="business_center"
      [logoUrl]="item.logoUrl"
      [label]="item.company + ' • ' + item.location"
      [breadcrumb]="item.breadcrumb"
      [url]="item.companyUrl"
      [title]="item.role + ' | ' + item.company">
      <p class="font-medium text-on-surface mb-2">{{item.duration}}</p>
      <ul class="list-disc pl-5 space-y-1">
        @for (highlight of item.highlights; track highlight) {
          <li>{{highlight}}</li>
        }
      </ul>
    </app-search-result-item>
  }

</app-feature-layout>
