<!-- Footer -->
<footer class="bg-surface-container-low text-on-surface-variant font-url-breadcrumb text-url-breadcrumb w-full flex flex-col border-t border-surface-variant mt-auto">
  <div class="px-8 py-3 border-b border-surface-variant">
    Earth
  </div>
  <div class="px-8 py-3 flex flex-wrap justify-between items-center w-full space-y-2 sm:space-y-0">
    <div class="flex space-x-6">
      <a class="hover:underline cursor-pointer" routerLink="/sde">Software Engineer</a>
      <a class="hover:underline cursor-pointer" routerLink="/cde">DevOps & Cloud</a>
      <a class="hover:underline cursor-pointer" routerLink="/education">Education</a>
    </div>
    <div class="flex space-x-6">
      <a class="hover:underline cursor-pointer" routerLink="/contact">Privacy</a>
      <a class="hover:underline cursor-pointer" routerLink="/contact">Terms</a>
      <a class="hover:underline cursor-pointer" routerLink="/contact">Contact</a>
    </div>
  </div>
</footer>
